.image-container {
    overflow: hidden;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 3px 3px #767373;
        -webkit-box-shadow: 3px 3px 3px 3px #767373;
        box-shadow: 3px 3px 3px 3px #767373;
    transition: transform 0.3s ease-in-out;
}

.gallery-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
    transition: transform 0.3s ease-in-out;
}

.image-container:hover .gallery-img {
    transform: scale(1.05);
}





.img-content {
    margin-top: 40px;
}

.img-content .title {
    margin-bottom: 20px;
}
.img {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-bottom: 20px;
    border-radius: 20%;
}
.shrink img:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 20%;

    transform: scale(1.2, 1.2);
        transition: transform 500ms ease-out;
    
    /* -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-timing-function: ease-out;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms; */

}